<h2>View Student/Index</h2>
@ViewBag.Thongtin
So sinh vien la: @ViewBag.CountStudent
<table>
    <tr>
        <th>
            <label> Ma sinh vien</label>
        </th>
        
    </tr>
    <tr>
        <th>
            <label> Ten sinh vien</label>
        </th>
        
    </tr>
    <tr>
        <th>
            <label> tuoi</label>

        </th>
        
    </tr>
    @foreach (var item in ViewData["Student"] as List<Student>)
    {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.StudentName</td>
            <td>@item.Age</td>
        </tr>
    }
</table>
